@font-face {
  font-family: "Dancing Script";
  src: url('DancingScript-Regular.ttf');
}
body {
  font-family: Dancing Script, verdana;
  background-color:  #02010a;
}
* img {
  box-shadow: 2px 2px #02010a;
}
* {
  box-sizing: border-box;
}
.contenido {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header h1 {
  text-shadow: 2px 2px #02010a;
  flex-direction: column;
  margin-left: 10px;
  justify-content: flex-start;
  text-align: center;
}

.menu {
  list-style-type: none;
  width: 30%
  height:auto;
  padding: 0;
}

.menu li {
  display: inline-block;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
}
.menu li a {
  color: white;
}

section .imgcentral {
  display: flex;
  height: auto;
  background-color: #82c3a6;
  justify-content: center;
  align-items: center;
}
section .imgcentral img {
  width: 75%;
  height: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}

section .imgsecundario {
  width: 100%;
  height: auto;
  background-color: #d5c75f;
  display: flex;
}

.responsive {
    display: flex;
    justify-content: center;
    width: 50%;
}

div.galeria {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 75%;
  height: auto;
}

div.galeria img {
    width: 100%;
    height: 80%;
}

.desc {
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#imgizq:hover {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  transition: transform 1.2s, box-shadow 1.2s;
}

#imgder:hover {
  -ms-transform: translate(20px, 5px);
  -webkit-transform: translate(20px, 5px);
  transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
  transition: transform 1.2s, box-shadow 1.2s;
}

footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: normal;
}
footer p {
  font-size-adjust: auto;
  text-align: left;
}
footer div {
  margin:20px;
  text-align: justify;
}
footer a {
  color: black;
}
footer a:hover {
  color: rgb(51, 66, 99);
}
.iconos {
  width: 30px;
  height: auto;
  margin-left:15px;
}

@media only screen and (max-width: 500px) {
    section .imgsecundario {
      flex-direction: column;
    }
    .responsive {
        width: 100%;
    }

    .galeria img {
      width: 100%;
    }
    footer {
      flex-direction: column;
    }
    .menu {
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
    }
}
